header{
    z-index: 999;
    position: sticky;
    top: 0;
}

.navbar {
    background-color: white !important;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #667eea !important;
}